body {
	margin-left: -30px;
}

.dh {
	height: 630px;
}

.dh li {
	text-align: center;
	font-size: 17px;
}

.dh img {
	width: 130px;
}

.defaultPage {
	text-align: center;
	margin-top: 120px;
	font-size: 50px;
	color: red;
	height: 450px;
}

.foot {
	text-align: center;
	margin-top: 18px;
	margin-bottom: 18px;
}

.data_list {
	margin-top: 10px;
}

.data_list .data_content {
	margin-top: 15px;
}

.data_list .data_exam_content {
	margin-top: 15px;
	padding-left: 30px;
	font-size: 17px;
}

.data_list .select {
	float: left;
}

.data_list td {
	padding-top: 10px;
}

.time {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.title {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
}

.ftitle {
	text-align: right;
	font-size: 20px;
}

.option label {
	margin-bottom: 6px;
	font-size: 18px;
}

.option input {
	margin-top: 7px;
	margin-bottom: 0px;
}

.examList {
	height: auto !important;
	min-height: 500px;
}

}
.examList .title {
	text-align: center;
	font-size: 20px;
}

.examList table {
	text-align: center;
}

.updatePassword{
	height: auto !important;
	min-height: 500px;
}

.updatePassword .title{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
}

.updatePassword table{
	width: 40%;
	text-align: center;
}
